USE [MyAPPGOGO]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 19/09/2026 02:04:53 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppVersions]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppVersions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Platform] [nvarchar](max) NOT NULL,
	[LatestVersion] [nvarchar](max) NOT NULL,
	[MinSupportedVersion] [nvarchar](max) NOT NULL,
	[UpdateUrl] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AppVersions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserType] [nvarchar](10) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CancelReasons]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CancelReasons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TextEn] [nvarchar](max) NOT NULL,
	[TextAr] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CancelReasons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarDatas]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarDatas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CarPhoto] [nvarchar](max) NOT NULL,
	[LicenseFront] [nvarchar](max) NOT NULL,
	[LicenseBack] [nvarchar](max) NOT NULL,
	[CarBrand] [nvarchar](max) NOT NULL,
	[CarModel] [nvarchar](max) NOT NULL,
	[CarColor] [nvarchar](max) NOT NULL,
	[PlateNumber] [nvarchar](max) NOT NULL,
	[DriverId] [int] NOT NULL,
	[CarType] [nvarchar](32) NULL,
 CONSTRAINT [PK_CarDatas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Charges]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DriverId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Charges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverPoints]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DriverId] [int] NOT NULL,
	[Balance] [int] NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DriverPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverPointsTransactions]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverPointsTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DriverId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[PointsAwarded] [int] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DriverPointsTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DriverPhoto] [nvarchar](max) NOT NULL,
	[DriverIdCard] [nvarchar](max) NOT NULL,
	[DriverLicenseFront] [nvarchar](max) NOT NULL,
	[DriverLicenseBack] [nvarchar](max) NOT NULL,
	[IdCardFront] [nvarchar](max) NOT NULL,
	[IdCardBack] [nvarchar](max) NOT NULL,
	[DriverFullname] [nvarchar](max) NOT NULL,
	[NationalId] [nvarchar](max) NOT NULL,
	[Age] [int] NOT NULL,
	[LicenseNumber] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[LicenseExpiryDate] [datetime2](7) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[NoReviews] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[TotalReview] [int] NOT NULL,
	[Wallet] [float] NOT NULL,
	[FcmToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExplorePlaces]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExplorePlaces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_ExplorePlaces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FCMTokenUsers]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FCMTokenUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_FCMTokenUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[From] [nvarchar](max) NOT NULL,
	[To] [nvarchar](max) NOT NULL,
	[ExpectedPrice] [float] NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Distance] [float] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[NoPassengers] [int] NOT NULL,
	[FromLatLng_Lat] [float] NOT NULL,
	[FromLatLng_Lng] [float] NOT NULL,
	[ToLatLng_Lat] [float] NOT NULL,
	[ToLatLng_Lng] [float] NOT NULL,
	[UserImage] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[UserPhone] [nvarchar](max) NULL,
	[Driverid] [int] NULL,
	[Review] [float] NOT NULL,
	[Status] [nvarchar](max) NULL,
	[PaymentWay] [nvarchar](max) NULL,
	[CarType] [nvarchar](max) NOT NULL,
	[PinkMode] [bit] NOT NULL,
	[FCMToken] [nvarchar](255) NULL,
	[CarTypeEnum] [nvarchar](32) NULL,
	[CancelReasonId] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedAddresses]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedAddresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[AddressLine] [nvarchar](max) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UsageCount] [int] NOT NULL,
 CONSTRAINT [PK_SavedAddresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TripsHistories]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripsHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Review] [int] NOT NULL,
	[PaymentWay] [nvarchar](max) NOT NULL,
	[From] [nvarchar](max) NOT NULL,
	[To] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[TotalTip] [float] NOT NULL,
	[DriverId] [int] NOT NULL,
 CONSTRAINT [PK_TripsHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserHistories]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[From] [nvarchar](max) NOT NULL,
	[To] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
	[RideType] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPoints]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Balance] [int] NOT NULL,
	[UpdatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPointsTransactions]    Script Date: 19/09/2026 02:04:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPointsTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[OrderId] [int] NOT NULL,
	[PointsAwarded] [int] NOT NULL,
	[CreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserPointsTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260415133226_InitialBaseline', N'8.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260415134029_AddAppVersionAndSavedAddress', N'8.0.12')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'0c6295ec-1fb6-49e0-a716-5feca3126127', N'admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'9734b354-dec8-4715-9835-3c3468b4b96f', N'driver', N'DRIVER', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'bf4f0a12-9c61-48b9-aa96-73e4a86498a4', N'passenger', N'PASSENGER', NULL)
GO
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] ON 

INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (1, N'1a7077b1-c951-445f-8383-70f7145f3f95', N'emergency_contact_name', N'ahmed')
INSERT [dbo].[AspNetUserClaims] ([Id], [UserId], [ClaimType], [ClaimValue]) VALUES (2, N'1a7077b1-c951-445f-8383-70f7145f3f95', N'emergency_contact_phone', N'123213123')
SET IDENTITY_INSERT [dbo].[AspNetUserClaims] OFF
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'023fab76-c25b-4981-bc0b-08a292af00c8', N'9734b354-dec8-4715-9835-3c3468b4b96f')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'031bd7f3-2230-404c-9358-ae37f59302cc', N'bf4f0a12-9c61-48b9-aa96-73e4a86498a4')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'05e964cc-15d2-462b-8c65-538bbbed04e0', N'bf4f0a12-9c61-48b9-aa96-73e4a86498a4')
GO
SET IDENTITY_INSERT [dbo].[CancelReasons] ON 

INSERT [dbo].[CancelReasons] ([Id], [TextEn], [TextAr]) VALUES (1, N'Driver is taking too long', N'السائق يستغرق وقتاً طويلاً')
INSERT [dbo].[CancelReasons] ([Id], [TextEn], [TextAr]) VALUES (2, N'Changed my mind', N'غيرت رأيي')
INSERT [dbo].[CancelReasons] ([Id], [TextEn], [TextAr]) VALUES (3, N'Found another ride', N'وجدت رحلة أخرى')
SET IDENTITY_INSERT [dbo].[CancelReasons] OFF
GO
SET IDENTITY_INSERT [dbo].[CarDatas] ON 

INSERT [dbo].[CarDatas] ([Id], [CarPhoto], [LicenseFront], [LicenseBack], [CarBrand], [CarModel], [CarColor], [PlateNumber], [DriverId], [CarType]) VALUES (1, N'https://res.cloudinary.com/docvppjyh/image/upload/v1772415290/gogo_app/m5pu0revwzrxevmesmrg.jpg', N'https://res.cloudinary.com/docvppjyh/image/upload/v1772415289/gogo_app/d2qh41p2ejobslhfxyci.jpg', N'https://res.cloudinary.com/docvppjyh/image/upload/v1772415289/gogo_app/n6yz5dbdozwickeoekgj.jpg', N'taxi', N'2001', N'red', N'25556555', 1, NULL)
INSERT [dbo].[CarDatas] ([Id], [CarPhoto], [LicenseFront], [LicenseBack], [CarBrand], [CarModel], [CarColor], [PlateNumber], [DriverId], [CarType]) VALUES (2, N'https://res.cloudinary.com/docvppjyh/image/upload/v1772471384/gogo_app/a2e2cp4j7mzc0iwcaz42.jpg', N'https://res.cloudinary.com/docvppjyh/image/upload/v1772471380/gogo_app/aj3fdgrryp5f3xgzvfmj.png', N'https://res.cloudinary.com/docvppjyh/image/upload/v1772471383/gogo_app/wrwvvltyggy1a6psy6bu.jpg', N'taxi', N'0200', N'اتمم', N'٢٠٦٦٨٠٠', 2, NULL)
INSERT [dbo].[CarDatas] ([Id], [CarPhoto], [LicenseFront], [LicenseBack], [CarBrand], [CarModel], [CarColor], [PlateNumber], [DriverId], [CarType]) VALUES (3, N'https://res.cloudinary.com/docvppjyh/image/upload/v1773279344/gogo_app/lk31fc4vg9ainlnpm4qp.jpg', N'https://res.cloudinary.com/docvppjyh/image/upload/v1773279347/gogo_app/lnnr8nkj0zslbvugfzz7.png', N'https://res.cloudinary.com/docvppjyh/image/upload/v1773279347/gogo_app/j82uzhkbf0ejveavueqe.png', N'taxi', N'2002', N'red', N'2121212', 3, NULL)
SET IDENTITY_INSERT [dbo].[CarDatas] OFF
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[FCMTokenUsers] ON 

INSERT [dbo].[FCMTokenUsers] ([Id], [UserId], [Token]) VALUES (1, N'c14e0010-9f60-4c60-aea2-cd85d8d7edaf', N'fs8Pb3_olkFijhYuZ52D5k:APA91bHJRZ2NhEMagsoy1BisfLPvljD7s6-vxVf7jc-MYKaI-bBn9zR3D4dPhDZTceNaDQ4TcLtEJfuptRwq8RuUnHVtO3fapEAvTmSYLZOGBgh7cuAIZ-o')
INSERT [dbo].[FCMTokenUsers] ([Id], [UserId], [Token]) VALUES (2, N'6c1369a2-6cf1-4ba4-a6a2-c53bda4362e7', N'eWt5yBtnqk5Jncmon1JRLu:APA91bEhRqzyve_6X5PWZ7Vw81FOiKQe9fqGIMHT3fk_Ot2gPcDeoqzXu4ZS9Jjf5Jzu4AotoiOazDIU4sf95hl6jyHa4XlCdlad8jzQZg3LmBxzxnXAY6g')
INSERT [dbo].[FCMTokenUsers] ([Id], [UserId], [Token]) VALUES (3, N'2a2005e7-80fd-4f14-ba4c-04b201c374d2', N'emPxKp-M7ENAmNAy9Toofd:APA91bFHbg568SK-Qyiw96Bm62u6vTy50lXFhhCWty0gf8jcrl_XvsuQ5-JRRQ71fwj2SA-7v_arIDVZ8jH2fwOGtRU8uDvxil-Q_9Kzs_4JfByF5Re0ukU')
GO
SET IDENTITY_INSERT [dbo].[FCMTokenUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[SavedAddresses] ON 

INSERT [dbo].[SavedAddresses] ([Id], [UserId], [Title], [AddressLine], [Latitude], [Longitude], [CreatedAt], [UsageCount]) VALUES (1, N'3fe6bca1-69d3-4c01-8973-7d330782adb8', N'home', N'الاسـتــاد، طنطا (قسم 2)، قسم ثان طنطا', 0, 0, CAST(N'2026-04-19T21:47:01.1805252' AS DateTime2), 0)
INSERT [dbo].[SavedAddresses] ([Id], [UserId], [Title], [AddressLine], [Latitude], [Longitude], [CreatedAt], [UsageCount]) VALUES (2, N'3fe6bca1-69d3-4c01-8973-7d330782adb8', N'work', N'BAR، قسم أول طنطا، محافظة الغربية، مصر', 30.794437868459497, 30.992799438536167, CAST(N'2026-04-19T22:37:29.6793842' AS DateTime2), 0)
INSERT [dbo].[SavedAddresses] ([Id], [UserId], [Title], [AddressLine], [Latitude], [Longitude], [CreatedAt], [UsageCount]) VALUES (3, N'3fe6bca1-69d3-4c01-8973-7d330782adb8', N'eeee', N'لا يوجد اسم الآن', 30.798147018600567, 30.992799438536167, CAST(N'2026-04-19T22:37:37.6808878' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[SavedAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[TripsHistories] ON 

INSERT [dbo].[TripsHistories] ([Id], [Review], [PaymentWay], [From], [To], [Date], [TotalTip], [DriverId]) VALUES (1, 5, N'cash', N'شارع سعد زغلول غرابه ، الغربية، مصر', N'، مركز طنطا، محافظة الغربية، مصر', CAST(N'2026-03-24T14:58:42.6268700' AS DateTime2), 22, 1)
INSERT [dbo].[TripsHistories] ([Id], [Review], [PaymentWay], [From], [To], [Date], [TotalTip], [DriverId]) VALUES (2, 5, N'cash', N'شارع سعد زغلول غرابه ، الغربية، مصر', N'، مركز طنطا، محافظة الغربية، مصر', CAST(N'2026-03-24T15:11:40.1505070' AS DateTime2), 22, 1)
INSERT [dbo].[TripsHistories] ([Id], [Review], [PaymentWay], [From], [To], [Date], [TotalTip], [DriverId]) VALUES (3, 5, N'cash', N'شارع سعد زغلول غرابه ، الغربية، مصر', N'شركه النجم الفضي لالحاق العماله بي الخارج، قسم أول طنطا، محافظة الغربية، مصر', CAST(N'2026-03-24T15:33:44.2997480' AS DateTime2), 22, 1)
GO
SET IDENTITY_INSERT [dbo].[TripsHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[UserHistories] ON 

INSERT [dbo].[UserHistories] ([Id], [UserId], [From], [To], [Price], [Date], [PaymentMethod], [RideType]) VALUES (1, N'3fe6bca1-69d3-4c01-8973-7d330782adb8', N'شارع سعد زغلول غرابه ، الغربية، مصر', N'فرن عيش بلدي، قسم أول طنطا، محافظة الغربية، مصر', CAST(22.00 AS Decimal(18, 2)), CAST(N'2026-03-24T18:37:20.8601200' AS DateTime2), N'cash', N'one_of_group')
INSERT [dbo].[UserHistories] ([Id], [UserId], [From], [To], [Price], [Date], [PaymentMethod], [RideType]) VALUES (2, N'3fe6bca1-69d3-4c01-8973-7d330782adb8', N'شارع سعد زغلول غرابه ، الغربية، مصر', N'Vegvisir MMA Studio Gym، قسم أول طنطا، محافظة الغربية، مصر', CAST(22.00 AS Decimal(18, 2)), CAST(N'2026-03-24T18:45:35.1812280' AS DateTime2), N'cash', N'one_of_group')
INSERT [dbo].[UserHistories] ([Id], [UserId], [From], [To], [Price], [Date], [PaymentMethod], [RideType]) VALUES (3, N'3fe6bca1-69d3-4c01-8973-7d330782adb8', N'Ds، قسم ثان طنطا، محافظة الغربية، مصر', N'، مركز طنطا، محافظة الغربية، مصر', CAST(25.00 AS Decimal(18, 2)), CAST(N'2026-03-24T19:42:51.9219550' AS DateTime2), N'cash', N'one_of_group')
SET IDENTITY_INSERT [dbo].[UserHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPoints] ON 

INSERT [dbo].[UserPoints] ([Id], [UserId], [Balance], [UpdatedAtUtc]) VALUES (1, N'3fe6bca1-69d3-4c01-8973-7d330782adb8', 32, CAST(N'2026-09-19T09:14:01.6213235' AS DateTime2))
INSERT [dbo].[UserPoints] ([Id], [UserId], [Balance], [UpdatedAtUtc]) VALUES (2, N'9edb3402-b6cf-40b6-b52e-3143aaaa670f', 63, CAST(N'2026-09-19T09:12:49.2424086' AS DateTime2))
INSERT [dbo].[UserPoints] ([Id], [UserId], [Balance], [UpdatedAtUtc]) VALUES (3, N'7cd1bfef-f865-4a86-8eb0-c6d1b0441023', 90, CAST(N'2026-09-14T19:35:56.3874503' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserPoints] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPointsTransactions] ON 

INSERT [dbo].[UserPointsTransactions] ([Id], [UserId], [OrderId], [PointsAwarded], [CreatedAtUtc]) VALUES (1, N'3fe6bca1-69d3-4c01-8973-7d330782adb8', 1325, 10, CAST(N'2026-09-10T12:25:11.3669469' AS DateTime2))
INSERT [dbo].[UserPointsTransactions] ([Id], [UserId], [OrderId], [PointsAwarded], [CreatedAtUtc]) VALUES (2, N'3fe6bca1-69d3-4c01-8973-7d330782adb8', 1326, 10, CAST(N'2026-09-10T12:27:28.9970482' AS DateTime2))
INSERT [dbo].[UserPointsTransactions] ([Id], [UserId], [OrderId], [PointsAwarded], [CreatedAtUtc]) VALUES (3, N'3fe6bca1-69d3-4c01-8973-7d330782adb8', 1344, 10, CAST(N'2026-09-13T11:56:25.9383135' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserPointsTransactions] OFF
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [UserType]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [Gender]
GO
ALTER TABLE [dbo].[Drivers] ADD  DEFAULT ((0)) FOR [NoReviews]
GO
ALTER TABLE [dbo].[Drivers] ADD  DEFAULT ((0)) FOR [TotalReview]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [FromLatLng_Lat]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [FromLatLng_Lng]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [ToLatLng_Lat]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [ToLatLng_Lng]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Review]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'') FOR [CarType]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (CONVERT([bit],(0))) FOR [PinkMode]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH NOCHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH NOCHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH NOCHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH NOCHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH NOCHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH NOCHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CarDatas]  WITH NOCHECK ADD  CONSTRAINT [FK_CarDatas_Drivers_DriverId] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Drivers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarDatas] CHECK CONSTRAINT [FK_CarDatas_Drivers_DriverId]
GO
ALTER TABLE [dbo].[Charges]  WITH NOCHECK ADD  CONSTRAINT [FK_Charges_Drivers_DriverId] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Drivers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Charges] CHECK CONSTRAINT [FK_Charges_Drivers_DriverId]
GO
ALTER TABLE [dbo].[Drivers]  WITH NOCHECK ADD  CONSTRAINT [FK_Drivers_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK_Drivers_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[TripsHistories]  WITH NOCHECK ADD  CONSTRAINT [FK_TripsHistories_Drivers_DriverId] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Drivers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TripsHistories] CHECK CONSTRAINT [FK_TripsHistories_Drivers_DriverId]
GO
ALTER TABLE [dbo].[UserHistories]  WITH NOCHECK ADD  CONSTRAINT [FK_UserHistories_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserHistories] CHECK CONSTRAINT [FK_UserHistories_AspNetUsers_UserId]
GO
